body{
    /* background: url("../images/fondo1.png") no-repeat center top / cover fixed, url("../images/fondo2.png") no-repeat center bottom / cover fixed; */
    background: url(../images/verdura3.png) left bottom no-repeat fixed,
                url(../images/verdura4.png) right top no-repeat fixed,
                url(../images/fondo.jpg) center no-repeat fixed;
        background-size: 30%, 20%, cover;
                
}

p{
    color: #000;
}

.heading-title h2{
    /* color: #fff; */
    font-weight: bold;
}

.heading_space{
    font-size: 1.2em;
    
}

.defaultcolor{
    color: #fff;
}

.bg-dark{
    background-color: transparent !important;
}

.navbar{
    background: rgba(255, 255, 255, 0.506) !important;
    display: none;
}

.navbar>.container{
    justify-content: center;
}

/* HERO */

#rev_main{
    display: grid;
    place-items: center;
    background: transparent;
}

#rev_main img{
    width: 100%;
    max-width: 500px !important;
}

/* PLECA APOYO */

/* #our-feature{
    background-color: #384141;
} */


#services-slider{
    margin-top: 0;
}

.half-section-alt::before{
    background: none;
}

#slider-contenido{
    display: flex;
    justify-content: space-between;
}

#our-team{
    padding-top: 2em;
    margin-bottom: 3em;
}

.our-team .owl-carousel .owl-stage{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.team-content::before{
    background: #f7ae1a;
}

/* CURSOS */


/* PREMIOS */

#premios h2{
    color: #384141;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

#premios .item{
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
}

#premios #services-slider .owl-item.center .service-box{
    /* background: rgb(247 174 26 / 100%); */
    background: none;
}

#premios #services-slider .service-box p{
    font-size: 1.5em;
}

#premios #services-slider .service-box p span{
    display: block;
    font-size: 0.8em;
}

#premios #services-slider .service-box{
    /* background: rgb(247 174 26 / 60%); */
    background: none;
}

#premios .owl-carousel .owl-stage img{
    max-width: 200px;
    margin: auto auto 1em;
}

#premios .owl-carousel .owl-stage{
    display: flex;
    align-items: stretch;
}

/* BASES */

#our-apps .heading-title h2{
    text-align: center !important;
}

#our-apps h3{
    color: #384141;
    font-weight: bold;
    font-size: 2em;
}

#our-apps p{
    font-size: 1.2em;
}

#app-feature .feature-item:hover h3 span{
    color: #384141;
}

.service-box img{
    margin-bottom: 1em;
}

.service-box h4{
    color: #384141;
    font-size: 2em;
}

#pricing{
    background: none;
}

.pricing-item.sale::before,
.shopping-box .sale::before{
    display: none;
}

.pricing-item.sale::after,
.shopping-box .sale::after{
    display: none;
}

#site-footer{
    padding-top: 2em;
}


#pricing .pricing-item{
    background: rgba(255, 255, 255, 0.7);
}

#pricing .pricing-item .pricing-price{
    border: 0;
}

#pricing .pricing-price picture{
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    display: block;
    margin: auto auto 1em;
}

#pricing .pricing-price picture img{
    object-position: center;
    object-fit: cover;
}


.pricing-currency{
    font-size: 1.5em !important;
    margin-bottom: 1em;
    display: block;
}
