

body{
    --color-primario: #f6ad1a;
    --color-secundario: #50b748;
    /* background: url("../images/fondo1.png") no-repeat center top / cover fixed, url("../images/fondo2.png") no-repeat center bottom / cover fixed; */
    background: url(../images/verdura3.png) left bottom no-repeat fixed,
                url(../images/verdura4.png) right top no-repeat fixed;
        background-size: 30%, 20%;
                
}

p{
    color: #000;
}

.button{
    background: var(--color-secundario);
    color: #fff;
}

.heading-title h2{
    /* color: #fff; */
    font-weight: bold;
}

.heading_space{
    font-size: 1.2em;
    
}

.defaultcolor{
    color: #fff;
}

.bg-dark{
    background-color: transparent !important;
}

.navbar{
    background: rgba(255, 255, 255, 0.506) !important;
    display: none;
}

.navbar>.container{
    justify-content: center;
}

/******************************** HERO */

#banner-info{
    display: grid;
    place-items: center;
    place-content: center;
    background: transparent;
    padding: 2em 0;
    min-height: 100vh;
}

#banner-info img{
    width: 100%;
    max-width: 400px !important;
    margin-bottom: 2.5em;
}

#banner-info h1{
    font-weight: bold;
    color: var(--color-secundario);
}


/****************************** SLIDER PREMIOS */

#main-banner-area h2{
    text-align: center;
    color: var(--color-primario);
    font-weight: bold;
}

#main-banner-area .numbered .tp-bullet .tp-count{
    color: var(--color-primario);
    font-weight: bold;
}


#services-slider{
    margin-top: 0;
}

.half-section-alt::before{
    background: none;
}

#slider-contenido{
    display: flex;
    justify-content: space-between;
}

/********************************** PLECA APOYO */

#our-feature h2 span{
    color: var(--color-secundario);
}



#our-team{
    padding-top: 7em;
    margin-bottom: 7em;
}

.our-team .owl-carousel .owl-stage{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.team-content::before{
    background: #f7ae1a;
}

#our-team .heading-title h2{
    color: var(--color-primario);
}

#our-team .owl-carousel .owl-item .image{
    display: grid;
    background: #fff;
    place-items: center;
    
}

#our-team .owl-carousel .owl-item img{
    width: 100%;
}

#our-team .team-content{
    height: auto;
}
/* PREMIOS */

#premios h2{
    color: var(--color-primario);
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

#premios .item{
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid var(--color-primario);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
}

#premios #services-slider .owl-item.center .service-box{
    /* background: rgb(247 174 26 / 100%); */
    background: none;
}

#premios #services-slider .service-box p{
    font-size: 1.5em;
}

#premios #services-slider .service-box p span{
    display: block;
    font-size: 0.8em;
}

#premios #services-slider .service-box{
    /* background: rgb(247 174 26 / 60%); */
    background: none;
}

#premios .owl-carousel .owl-stage img{
    max-width: 200px;
    margin: auto auto 1em;
}

#premios .owl-carousel .owl-stage{
    display: flex;
    align-items: stretch;
}

/* BASES */

#our-apps .heading-title h2{
    text-align: center !important;
    color: var(--color-primario);
}

#our-apps h3{
    color: var(--color-secundario);
    font-weight: bold;
    font-size: 2em;
    
}

#our-apps h3 span{
    -webkit-text-fill-color:#50b748;
}

#our-apps p{
    font-size: 1.2em;
}

#our-apps .app-slider-lock-btn{
    display: none;
}

#app-feature .feature-item:hover h3 span{
    color: #384141;
}

.service-box img{
    margin-bottom: 1em;
}

.service-box h4{
    color: #384141;
    font-size: 2em;
}


#our-apps #boton-registro-bases{
    width: max-content;
    margin: 2em auto;
    font-size: 2em;
}

/********************************** GANADORES */

#pricing{
    background: none;
}

#pricing h2{
    color: var(--color-primario);
}

#pricing .pricing-price h1, #pricing .pricing-price span{
    color: #384141 !important;
}

.pricing-item.sale::before,
.shopping-box .sale::before{
    display: none;
}

.pricing-item.sale::after,
.shopping-box .sale::after{
    display: none;
}

#site-footer{
    padding-top: 2em;
}


#pricing .pricing-item{
    background: rgba(255, 255, 255, 0.7);
}

#pricing .pricing-item .pricing-price{
    border: 0;
}

#pricing .pricing-price picture{
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    display: block;
    margin: auto auto 1em;
}

#pricing .pricing-price picture img{
    object-position: center;
    object-fit: cover;
}


.pricing-currency{
    font-size: 1.5em !important;
    margin-bottom: 1em;
    display: block;
}


/************************ VIDEO */

#video video{
    aspect-ratio: 16 / 9;
    width: 100%;
}
